/src/EX-Converter/obj/x86/Release/Interop.Microsoft.Office.Core.dll
/src/EX-Converter/obj/x86/Release/TempPE
/src/EX-Converter/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
/src/EX-Converter/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/src/EX-Converter/obj/x86/Release/EX_Converter.MainWindow.resources
/src/EX-Converter/obj/x86/Release/EX_Converter.Properties.Resources.resources
/src/EX-Converter/obj/x86/Release/EX-Converter.csproj.FileListAbsolute.txt
/src/EX-Converter/obj/x86/Release/EX-Converter.csproj.GenerateResource.Cache
/src/EX-Converter/obj/x86/Release/EX-Converter.csproj.ResolveComReference.cache
/src/EX-Converter/obj/x86/Release/EX-Converter.csprojResolveAssemblyReference.cache
/src/EX-Converter/obj/x86/Release/EX-Converter.exe
/src/EX-Converter/obj/x86/Release/EX-Converter.pdb
EX-Converter.pdb
EX-Converter.vshost.exe
EX-Converter.vshost.exe.manifest
EX-Converter.exe
TempPE
DesignTimeResolveAssemblyReferences.cache
DesignTimeResolveAssemblyReferencesInput.cache
EX_Converter.MainWindow.resources
EX_Converter.Properties.Resources.resources
EX-Converter.csproj.FileListAbsolute.txt
EX-Converter.csproj.GenerateResource.Cache
EX-Converter.csproj.ResolveComReference.cache
EX-Converter.csprojResolveAssemblyReference.cache
Interop.Microsoft.Office.Core.dll
/src/EX-Converter/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
